body {
  font-family: Arial, Helvetica, sans-serif;
  section {
    padding: 1.5rem 0;
    .title { 
      margin-bottom: 1rem;
      text-align: center; 
    }
  }
}

.card-img-top {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

#productos {
  background-color: rgb(224, 135, 52);
}

#contacto .card { 
  background-color: rgb(209, 128, 15);

}

.card-body {
  text-align: center;
}
header h1 {
  font-size: 200%;
}

legend {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 150%;
  }

  footer {
    font-size: 90%;
  }
}