body {
  font-family: Arial, Helvetica, sans-serif;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

legend {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 150%;
  }

  footer {
    font-size: 90%;
  }
}